@font-face {
	font-family: Penguin;
	src: url(../Penguin-Regular.ttf);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    background-image: url('../img/fond_de_page.webp');
    background-size: cover;
    background-position: center;
    height: 100%;

    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    font-family: "Penguin";
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #66666669;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 20px;
    text-align:justify;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
  
a {
    color: #333;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

ul {
    justify-content: center;
    padding: 0;
    list-style: none;
}
  
li {
    margin: 0 10px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #666;
}
  
nav ul li a:hover {
    background-color: #444;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #666;
}
  
nav a:hover {
    background-color: #444;
}


footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}
footer nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
  
.logo {
    max-width: 100%;
    width: 60px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.current_win {
    background-color: #070707;
    border: 1px solid white;
}

/* Responsive*/

@media screen and (max-width: 768px) {
    .logo {
        width: 0px;
    }

    ul {
        display: contents;
    }

    nav ul li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}